In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import confusion_matrix, classification_report,roc_curve, auc

In [4]:
file_path = r'C:\Users\mrall\Desktop\data anlayst\IMDB_Top250_Tvshows.csv'
df = pd.read_csv(file_path, encoding='ISO-8859-1')
df.head()

,Titile,Year,Total_episodes,Age,Rating,Vote_count,Category
0,1. Breaking Bad,20082013,62 eps,18,9.5,(2.2M),TV Series
1,2. Planet Earth II,2016,6 eps,PG,9.5,(159K),TV Mini Series
2,3. Planet Earth,2006,11 eps,PG,9.4,(221K),TV Mini Series
3,4. Band of Brothers,2001,10 eps,15,9.4,(533K),TV Mini Series
4,5. Chernobyl,2019,5 eps,15,9.3,(876K),TV Mini Series

In [5]:
#Information about dataset 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Titile          250 non-null    object
 1   Year            250 non-null    object
 2   Total_episodes  250 non-null    object
 3   Age             244 non-null    object
 4   Rating          250 non-null    float64
 5   Vote_count      250 non-null    object
 6   Category        250 non-null    object
dtypes: float64(1), object(6)
memory usage: 13.8+ KB

In [7]:
# Searching for null values in data set 
 
df.isnull().sum()

Titile            0
Year              0
Total_episodes    0
Age               6
Rating            0
Vote_count        0
Category          0
dtype: int64

In [9]:
#filling removing and filling null values from Age colum 

# Drop rows where the 'age' column has null values
df = df.dropna(subset=['Age'])
df.isnull().sum()

Titile            0
Year              0
Total_episodes    0
Age               0
Rating            0
Vote_count        0
Category          0
dtype: int64